---
import "../styles/global.css";
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title="home">
	<div class="title_home">
		<h2>Estudia con nosotros</h2>
		<h1>Producción Audiovisual</h1>
		<p class="textilloT">En As Media, entendemos que el éxito comienza con una formación de calidad.</p>
	</div>
	<div class="botones">
		<button class="button-discover">Descubre Tu Futuro</button>
		<button class="button-visit">Agenda Una Visita</button>
	</div>
	
	<div class="carreras">
		<h2 class="title_home subtitle">Licenciaturas</h2>

		<div class="TV">
			<div class="TV-data">
				<p class="h3 TV-title">Televisión y Producción Audiovisual<p>
				<p>Aprende a contar historias a través del audio y video.</p>
				<button class="buttonC TV-Button">Ver Más</button>
			</div>
		</div>

		<div class="DP">
			<div class="DP-data">
				<p class="h3 DP-title">Diseño y Producción Multimedia</p>
				<p>Aprende a crear experiencias digitales que cautiven.</p>
				<button class="buttonC DP-Button">Ver Más</button>
			</div>
		</div>

		<div class="CI">
			<div class="CI-data">
				<p class="h3 CI-title">Consultoría y Gestión de Imagen</p>
				<p>Aprende a construir una imágen que impacte</p>
				<button class="buttonC CI-Button">Ver Más</button>
			</div>
		</div>
	</div>
	
</Layout>

<style>
	*{
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}
	body{
	background-color: #111111;
	}
	.title_home{
		position: relative;
		top: 100px;
		font-size: 32px;
		font-weight: 700;
		text-align: center;
		font-family: 'poppins';
		margin: auto;
		width: 288px;
	}
	h2{
		color: #e2f9d2;
	}
	h1{
		color: #A9EC79;
	}
	.textilloT{
		color: #e2f9d2;
		font-weight: 400;
		font-size: 18px;
	}
	.botones{
		color: whitesmoke;
		text-align: center;
		width: 200px;
		margin: auto;
		position: relative;
		top: 110px;
	}
	.button-discover{
		font-size: 16px;
		font-weight: 500;
		background-color: #1da343;
		padding: 12px;
		border-radius: 8px;
		margin-bottom: 5px;
		transition: background-color 0.3s ease, color 0.3s ease;
	}
	.button-visit{
		font-size: 16px;
		font-weight: 500;
		background-color: #444444;
		padding: 12px;
		border-radius: 8px;
		transition: background-color 0.3s ease, color 0.3s ease;
	}
	.button-discover:hover{
		font-size: 16px;
		font-weight: 500;
		background-color: #e2f9d2;
		color: #1da343;
		padding: 12px;
		border-radius: 8px;
		margin-bottom: 5px;
	}
	.button-visit:hover{
		font-size: 16px;
		font-weight: 500;
		background-color: #e2f9d2;
		color: #1da343;
		padding: 12px;
		border-radius: 8px;
	}
	.carreras{
		display: flex;
  		flex-direction: column;
  		align-items: center;
  		gap: 24px;
		position: relative;
		top: 280px;
	}
	.TV{
		background-color: #1a91b2 ;
		width: 300px;
		height: 480px;
		border-radius: 24px;
		padding: 24px;
	}
	.DP{
		background-color: #541ab2 ;
		width: 300px;
		height: 480px;
		border-radius: 24px;
		padding: 24px;
	}
	.CI{
		background-color: #84187d;
		width: 300px;
		height: 480px;
		border-radius: 24px;
		padding: 24px;
	}
	.subtitle{
		top: -15px;
		color: #A9EC79;
	}
	.h3{
		font-weight: 700;
		font-size: 24px;
		line-height: 25px;
		text-align: center;
		padding:15px ;
		
	}
	p{
		text-align: center;
		font-size: 16px;
		line-height: 20px;
		color: whitesmoke;
	}
	.TV-data{
		position: relative;
		top: 225px;
		text-align: center;
	}
	.DP-data{
		position: relative;
		top: 225px;
		text-align: center;

	}
	.CI-data{
		position: relative;
		top: 225px;
		text-align: center;

	}	
	.buttonC{
		background-color: aliceblue;
		width: 101px;
		height: 43px;
		border-radius: 8px;
		padding: 18px, 16px;
		position: relative;
		top: 15px;
		transition: .3s ease;
		color: whitesmoke;
	}
	.TV-title{
		color: #a6e2f2;
	}
	.DP-title{
		color: #c3a6f2;
	}
	.CI-title{
		color: #f7c7e7;
	}

	.TV-Button{
		background-color: #0d4959;
	}
	.DP-Button{
		background-color: #2a0d59;
	}
	.CI-Button{
		background-color: #5a0c3f;
	}
	.TV-Button:hover{
		background-color: #e9f8fc;
		color: #0d4959;
	}
	.DP-Button:hover{
		background-color: #fce9fc;
		color: #2a0d59;
	}
	.CI-Button:hover{
		background-color: #fce8f5;
		color: #5a0c3f;
	}

</style>